<!--<ion-view left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide ng-repeat="slide in slides">
            <h3>{{ slide.title }}</h3>
            <p>{{ slide.text }}</p>
        </ion-slide>
    </ion-slide-box>
</ion-view>-->
<!-- where the initial view template will be rendered -->
<ion-nav-view nav-transition="none">
    <ion-view ng-init="checkLogged()" hide-nav-bar="true"  class="backgroundweb">

        <center>
            <div class="button-bar quillcolor" style="width:100%; padding-left:30%; padding-right:10%; background-color:rgba(255, 255, 255, .7); color:black;">
                    <a nav-transition="none"  class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="webHome()" transition="none"><b>Home</b></a>
                    <a nav-transition="none"  class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="Capture()" transition="none"><b>Capture</b></a>
                    <a  nav-transition="none" class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="Analyze()" transition="none"><b>Analyze</b></a>
                    <a nav-transition="none"  class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="Account()" transition="none"><b>Account</b></a>
            </div>
            <div class="list card" style="width:60%;">

                <a href="#" class="item item-icon-left">
                    <i class="icon"></i> Email: {{ email }}
                </a>

                <a href="#" class="item item-icon-left">
                    <i class="icon "></i> Referall Code: {{ email }}
                </a>

                <a href="#" class="item item-icon-left" ng-click="logout()">
                    <i class="icon"></i> Sign Out
                </a>



            </div>
        </center>
        </ion-slide-box>
    </ion-view>
</ion-nav-view>
