<!--<ion-view left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide ng-repeat="slide in slides">
            <h3>{{ slide.title }}</h3>
            <p>{{ slide.text }}</p>
        </ion-slide>
    </ion-slide-box>
</ion-view>-->
<!-- where the initial view template will be rendered -->
<ion-nav-view nav-transition="none">
    <ion-view ng-init="checkLogged()" hide-nav-bar="true"  class="backgroundweb">

        <center>
            <div class="button-bar quillcolor" style="width:100%; padding-left:29%; padding-right:10%;">
                    <div style="padding:10px;"><a nav-transition="none"  class="btn btn-primary btn-xl"  ng-click="webHome()" transition="none"><b>Home</b></a></div>
                    <div style="padding:10px;"><a nav-transition="none"  class="btn btn-primary btn-xl" ng-click="Capture()" transition="none"><b>Capture</b></a></div>
                    <div style="padding:10px;"><a  nav-transition="none" class="btn btn-primary btn-xl" ng-click="Analyze()" transition="none"><b>Analyze</b></a></div>
                    <div style="padding:10px;"><a nav-transition="none"  class="btn btn-primary btn-xl" ng-click="Account()" transition="none"><b>Account</b></a></div>
                </div>
            <div class="list card" style="width:50%;">

                <a href="#" class="item item-icon-left">
                    <i class="icon"></i> Email: {{ email }}
                </a>

                <a href="#" class="item item-icon-left">
                    <i class="icon "></i> Referall Code: {{ email }}
                </a>

                <a href="#" class="item item-icon-left" ng-click="logout()">
                    <i class="icon"></i> Sign Out
                </a>



            </div>
        </center>
        </ion-slide-box>
    </ion-view>
</ion-nav-view>
