<!--<ion-view left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide ng-repeat="slide in slides">
            <h3>{{ slide.title }}</h3>
            <p>{{ slide.text }}</p>
        </ion-slide>
    </ion-slide-box>
</ion-view>-->
<!-- where the initial view template will be rendered -->
<ion-nav-view animation="no-animation" nav-transition="none">
    <ion-view nav-transition="none" ng-init="checkLogged()" hide-nav-bar="true" class="backgroundweb">

        <center>
            <div class="button-bar quillcolor" style="width:100%; padding-left:43%; padding-right:10%;">
                    <div style="padding:10px;"><a nav-transition="none"  class="btn btn-primary btn-xl"  ng-click="webHome()" transition="none"><b>Home</b></a></div>
                    <div style="padding:10px;"><a nav-transition="none"  class="btn btn-primary btn-xl" ng-click="Capture()" transition="none"><b>Capture</b></a></div>
                    <div style="padding:10px;"><a  nav-transition="none" class="btn btn-primary btn-xl" ng-click="Analyze()" transition="none"><b>Analyze</b></a></div>
                    <div style="padding:10px;"><a nav-transition="none"  class="btn btn-primary btn-xl" ng-click="Account()" transition="none"><b>Account</b></a></div>
                </div>
            <h3 style="color:white;">Upload</h3>
            <button class="btn btn-primary btn-xl" style="width:50%;">
                Upload File
            </button>
            <h3 style="color:white;">Or Insert Link</h3>

            <label class="item item-input" style="background-color:rgba(255, 255, 255, .3); width:50%;">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
            <h1 style="color:white;">And Analyze</h1>

            <!--<div class="row">
                <div class="col col-50">
                    <h1 style="color:white;">Upload Files</h1>
                    <button class="button button-assertive button-full" style="width:100%;">
                        Upload
                    </button>
                    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                    ^-->
            <!--
                    <form method="post" action="file-upload-1.htm" name="submit" enctype="multipart/form-data">
                        <input type="file" name="fileField"><br/><br/>
                        <input type="submit" name="submit" value="Submit">
                    </form>
-->
            <!--</div>
                <div class="col" style="border-left: 1px solid #C0C0C0; border-radius:1px; height:200px;">

                </div>
                <div class="col col-50">
                    <h1 style="color:white;">Insert Link</h1>
                    <div class="list list-inset" style="background-color:rgba(255, 255, 255, .3); margin:10px;">
                        <label class="item item-input" style="background-color:rgba(255, 255, 255, .3);">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="text" placeholder="Search">
                        </label>
                    </div>
                </div>

            </div>-->
            <button class="btn btn-primary btn-xl" style="width:50%; background-color:#33CC00; border:1px solid #41A317;">
                Go!
            </button>
        </center>
        </ion-slide-box>
    </ion-view>
</ion-nav-view>