<!--<ion-view left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide ng-repeat="slide in slides">
            <h3>{{ slide.title }}</h3>
            <p>{{ slide.text }}</p>
        </ion-slide>
    </ion-slide-box>
</ion-view>-->
<!-- where the initial view template will be rendered -->
<ion-nav-view nav-transition="none" >
    <ion-view nav-transition="none"  ng-init="checkLogged()" class="webHome" hide-nav-bar="true" style="background-image:url('http://quillapp.io/MIT.png')">

        <center>
            <div>
                 <div class="button-bar quillcolor" style="width:100%; padding-left:30%; padding-right:10%; background-color:rgba(255, 255, 255, .7); color:black;">
                    <a nav-transition="none"  class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="webHome()" transition="none"><b>Home</b></a>
                    <a nav-transition="none"  class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="Capture()" transition="none"><b>Capture</b></a>
                    <a  nav-transition="none" class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="Analyze()" transition="none"><b>Analyze</b></a>
                    <a nav-transition="none"  class="button" style="background-color:transparent; border:0px solid white; color:black; font-size:20px;" ng-click="Account()" transition="none"><b>Account</b></a>
                </div>
                <h1 style="font-family: 'Raleway'; font-size:55px; padding-top:5%; color:#FF6600" class="quillcolor"><b>Auxquill</b></h1>
                <p style="font-size:20px; color:white;"><b>Auxquill takes notes for you.</b>
                </p>


                <div class="row" style="width:60%; color:white;">
                    <div class="col">
                        <img src="http://quillapp.io/introcamera.png" style="width:25%; height:25%;">
                        <h1 style="color:white;">Upload</h1>
                        <p>Upload the files and information you want analyzed.</p>
                    </div>
                    <div class="col">
                        <img src="http://quillapp.io/intronote.png" style="width:25%; height:25%;">
                        <h1 style="color:white;">Analyze</h1>
                        <p>Our algorithms will analyze the information you uploaded and provide you with the most important notes and summaries.</p>
                    </div>
                    <div class="col">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/b7/c0/2b/b7c02b413a641483ee0f43ea0a695dc1.png" style="width:25%; height:25%;">
                        <h1 style="color:white;">Improve</h1>
                        <p>Upvote and downvote the helpful summaries and notes. You can also add in your own notes to be added to the total queue. </p>
                    </div>

                </div>
            </div>
        </center>
        <script id="webHome.html" type="text/ng-template">
            <div class="modal" style="border-radius:10px; background-color:#FF8533;">
                <ion-scroll zooming="true" direction="xy" style="width:100%;height:600px">
                    <div style="padding-top:30px;">
                        <div class="button button-clear" ng-click="modal.hide()" style="height:5%; width:5%;"><span class="icon ion-close"></span>
                        </div>

                        <content has-header="true" padding="true">
                            <div class="input-wrapper">
                                <input ng-model="user.email" type="email" placeholder="Email" style="padding-left:10%; color:white; font-size:18px;" />
                            </div>
                            <!--            </label>-->
                            <!--            <label class="item item-input">-->
                            <!--                <span class="input-label">Password</span>-->
                            <div class="input-wrapper">
                                <input ng-model="user.password" type="password" placeholder="Password" style="padding-left:10%; color:white; font-size:18px;" />
                            </div>
                            <!--            </label>-->
                            <!--        </div>-->
                            <!--KUSHNOTE ALEX COPY HERE-->
                            <ion-checkbox class="checkbox checkbox-assertive" style="background-color: rgba(0,0,0,.0); border: 0px solid #F37D52 ">
                                <h2 style="font-family: 'Raleway'; font-size:20px; color:white;" ng-checked="rememberMe()">Remember me</h2>
                            </ion-checkbox>
                            <div class="assertive" ng-show="error.message">{{error.message}}</div>
                            <button class="button button-block button-outline button-assertive" style="height:25%; width:80%; margin-right:auto; margin-left:auto; text-align:center; font-family: 'Raleway'; border:1px solid white; color:white;" ng-click="login()">
                                LOG IN
                            </button>
                            <button class="button button-block button-clear button-calm" ng-click="forgot()">
                                Forgot your password?
                            </button>
                        </content>
                    </div>
                </ion-scroll>
            </div>
        </script>
    </ion-view>
</ion-nav-view>