/* Empty. Add your own CSS if you like */

body {
    background-color: white;
    background-repeat: no-repeat;
    font-family: 'Raleway', 'Hind', sans-serif;
}

html {
    height: 100%;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: disc;
    margin: 0px;
    padding: 0px;
}

#quill_header {
    margin-left: auto;
    margin-right: auto;
}

.backgroundweb {
    /* background: -webkit-linear-gradient(70deg, #F3E5AB 1%, #FFA62F 99%);*/
    /* Chrome 10+, Saf5.1+ */
    /*background: -moz-linear-gradient(70deg, #F3E5AB 1%, #FFA62F 99%);
    /* FF3.6+ */
    /* background: -ms-linear-gradient(70deg, #F3E5AB 1%, #FFA62F 99%);
    /* IE10 */
    /* background: -o-linear-gradient(70deg, #F3E5AB 1%, #FFA62F 99%);
    /* Opera 11.10+ */
    
    background: #686868 ;
}

input::-webkit-input-placeholder {
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

.webHome {
    background: -webkit-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Opera 11.10+ */
    
    height: 100%;
}

.quillcolor {
    color: -webkit-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Chrome 10+, Saf5.1+ */
    
    color: -moz-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* FF3.6+ */
    
    color: -ms-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* IE10 */
    
    color: -o-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Opera 11.10+ */
}

.wrapper {
    color: #fff;
    background-color: transparent;
    width: 100%;
    margin-top: 80px;
    text-align: center;
    position: relative;
}

.input-wrapper {
    position: relative;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

input {
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 100%;
    border-radius: 2px;
    border: none;
    padding-left: 0px;
    height: 0px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.input-wrapper:after {
    background-color: transparent;
    position: absolute;
    border: 1px solid #fff;
    border-top: none;
    margin-left: 5%;
    margin-right: auto;
    height: 0px;
    width: 85%;
    bottom: 6px;
    left: 0;
    content: "";
}
/*.introsignup{
  background-color:transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #fff;
  padding-left: 0px;
  height: 0px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;

}*/

blockquote {
    width: 90% !important;
    border-color: #FFC299 !important;
    border-width: 5px 5px 5px 5px !important;
    /*border-style: solid solid solid solid !important;*/
    
    padding: 5px 5px 5px 5px !important;
    /*background-color: #eee !important;*/
}
/**
.smallp{
        font-size: 1em; 
        font-family: 'Raleway', 'Hind', sans-serif;
}
.bigp{
        font-size: 1.8em; 
        font-family: 'Raleway', 'Hind', sans-serif;
}
<<<<<<< Updated upstream
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
#logo {
  margin: 30px 0px;
}
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
*/

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: white;
    text-align: center;
    /**background-image: url("http://quillapp.io/step1.png");*/
    /**
  background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Chrome 10+, Saf5.1+ */
    /**  background:    -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* FF3.6+ */
    /**  background:     -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* IE10 */
    /** background:      -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Opera 11.10+ */
    /**  background:         linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* W3C */
    /**background: -moz-linear-gradient(45deg, rgba(255,153,51,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    /**background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,153,51,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    /**background: -webkit-linear-gradient(45deg, rgba(255,153,51,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    /**background: -o-linear-gradient(45deg, rgba(255,153,51,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    /**background: -ms-linear-gradient(45deg, rgba(255,153,51,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    /**background: -moz-linear-gradient(45deg, rgba(255,153,51,1) 58%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    /**background: -webkit-gradient(linear, left bottom, right top, color-stop(58%, rgba(255,153,51,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    /**background: -webkit-linear-gradient(45deg, rgba(255,153,51,1) 58%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    /**background: -o-linear-gradient(45deg, rgba(255,153,51,1) 58%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    /**background: -ms-linear-gradient(45deg, rgba(255,153,51,1) 58%, rgba(0,128,128,1) 100%); /* ie10+ */
    /**background: linear-gradient(45deg, rgba(255,153,51,1) 58%, rgba(0,128,128,1) 100%); /* w3c */
    
    background: -webkit-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Opera 11.10+ */
    /*background:         linear-gradient(90deg, #FF6600  10%, #F3A183 90%); /* W3C */
    
    font-family: 'Raleway', 'Hind', sans-serif;
}

.intropage {
    background: -webkit-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #FF6600 10%, #FF8533 90%);
    /* Opera 11.10+ */
}

.slider-slide #subtext {
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

#logo {
    margin: 50px 0px;
}

#list {
    width: 300px;
    margin: 30px auto;
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Raleway';
    /*font-weight: bold;*/
}

#list ol li {
    text-align: center;
}

.button.ng-hide {
    display: none;
}

.homeimg {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 30%;
    height: 30%;
}

#file {
    display: none;
}

h1 {
    font-family: 'Raleway', 'Hind', sans-serif;
    margin: 0px;
    padding: 10px;
}

p {
    font-family: 'Raleway', 'Hind', sans-serif;
}

input {
    font-family: 'Raleway', 'Hind', sans-serif;
}

h3 {
    font-family: 'Raleway', 'Hind', sans-serif;
}

.my-nav {
    list-style-type: disc;
    margin: 0px;
    padding: 0px;
}

/** tangcloud styling starts here*/

/*
.tangcloud {
    padding-left:15%;
    width: 70%;
}

.tangcloud span {
    line-height: 100%;
}*/
/*
.tangcloud-item-1 {
    font-size: 1.3em;
    color: #080808;
}

.tangcloud-item-2 {
    font-size: 1.6em;
    color: #101010;
}

.tangcloud-item-3 {
    font-size: 1.9em;
    color: #181818;
}

.tangcloud-item-4 {
    font-size: 2.2em;
    color: #303030;
}

.tangcloud-item-5 {
    font-size: 2.5em;
    color: #282828;
}

.tangcloud-item-6 {
    font-size: 2.8em;
    color: #202020;
}

.tangcloud-item-7 {
    font-size: 3.1em;
    color: #383838;
}

.tangcloud-item-8 {
    font-size: 3.4em;
    color: #404040;
}

.tangcloud-item-9 {
    font-size: 3.7em;
    color: #484848;
}

.tangcloud-item-10 {
    font-size: 4em;
    color: #000000;
}

.tangcloud-item-hidden {
    visibility: hidden;
}*/

#word-cloud {
 width: 100%;
 /*height: 350px;*/
 margin: 0 auto;
 padding: 2em 0;
 font: 100% 'Yanone Kaffeesatz', Arial, sans-serif;
 position: relative;
}

#word-cloud span {
 position: absolute;
}

#word-cloud .word-1 {
 top: 0em;
 left: 0em;
 font-size: 40px;
 color: #626262;
 margin:20px;
}

#word-cloud .word-2 {
 top: 0;
 left: 40%;
 font-size: 35px;
 color: #906060;
 margin:20px;

}

#word-cloud .word-3 {
 top: 5%;
 left: 0em;
 font-size: 20px;
 color: #c5c5c5;
 margin:20px;

}

#word-cloud .word-4 {
 top: 5%;
 left: 60%;
 font-size: 40px;
 color: #511c1c;
 margin:20px;
}

#word-cloud .word-5 {
 top: 10%;
 /*right: -0.3em;*/
 color: #666;
 font-size: 35px;
 /*-moz-transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);*/
 margin:20px;

}

#word-cloud .word-6 {
 top:10%;
 left:50%;
 color: #5e0000;
 font-size: 20px;
 margin:20px;

}

#word-cloud .word-7 {
 top: 15%;
 left: 0;
 color: #6e6e6e;
 font-size: 40px;
 /*-moz-transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);*/
 margin:20px;

}
#word-cloud .word-8 {
 top: 15%;
 left: 45%;
 font-size: 35px;
 color: #c5c5c5;
}
#word-cloud .word-9 {
 top: 20%;
 left: 20%;
 font-size: 20px;
 color: #c5c5c5;
 margin:20px;

}

.toolbutton{
    border:2px solid #F05F40;
    background:transparent;
}
.button-bar{
    padding:0px;
    margin:0px;
    float:center;
    text-align:center;
    
}
.up1{
    color:#44E649;
    font-size:60px;
    margin:15px;
    line-height:90%;
}
.up2{
    color:#44E649;
    font-size:45px;
    margin:15px;
    line-height:90%;

}
.up3{
    color:#44E649;
    font-size:30px;
    margin:15px;
    line-height:90%;

}
.norm1{
    color:#FFD849;
    font-size:60px;
    margin:15px;
    line-height:90%;

}
.norm2{
    color:#FFD849;
    font-size:45px;
    margin:15px;
    line-height:90%;

}
.norm3{
    color:#FFD849;
    font-size:30px;
    margin:15px;
    line-height:90%;

}
.down1{
    color:#FF6849;
    font-size:60px;
    margin:15px;
    line-height:90%;

}
.down2{
    color:#FF6849;
    font-size:45px;
    margin:15px;
    line-height:90%;

}
.down3{
    color:#FF6849;
    font-size:30px;
    margin:15px;
    line-height:90%;

}