<ion-view view-title="Chats">
    <ion-content>
<!--        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->
        <br>
        <br>
        <br>
        <br>

        <form action="endpointurl" enctype="multipart/form-data" ng-submit="upfile()">
            <input type = "file" name = "file" accept="application/pdf">
            <input type="submit">
        </form>
        <br>
        <br>
        <br>
        <br>
        fdsafosda
        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>


  </ion-content>
</ion-view>
